.quiz-main-container {
    width: 350px;
    background-color: #658C5A;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 20px;
}

.page-title {
    font-size: 40px;
    margin-bottom: 5px;
}

.content-container {
    padding: 10px;
    padding-bottom: 15px;
    background-color: white;
    min-height: 250px;
    background-color: lightgray;
    font-size: medium;
}

.button-group {
    padding: 5px;
    text-align: center;
}

.btn-answers {
    padding: 5px;
    margin: 5px;
    width: 100%;
}
