#main-container{
    width: 350px;
    background-color: #658C5A;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 20px;
}

.page-title{
    font-size: larger;
    margin-bottom: 5px;
}
.question-container {
    padding: 5px;
    background-color: white;
    font-size: medium;
}
.quiz-answer-button{
    padding: 5px;
    text-align: center;
}

.quiz-answer-button.button{
    padding: 5px;
    margin: 5px;
}
