html {
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Geneva', 'Verdana', sans-serif;
    min-height:100%;
}

/* Colors */

.dark-green {
    color: #435938;
}

.medium-green {
    color: #658C5A;
}

.light-green {
    color: #C6D936;
}

.dark-brown {
    color: #BF9765;
}

.light-grey {
    color: #5a6268;
}


/* Background Colors */

.bg-dark-green {
    background-color: #435938;
}

.bg-medium-green {
    background-color: #658C5A;
}

.bg-light-green {
    background-color: #C6D936;
}

.bg-dark-brown {
    background-color: #BF9765;
}

.bg-light-grey {
    background-color: #5a6268;
}

/* Buttons */

.btn-primary {
    background-color: #658C5A;
    border-color: #658C5A;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {

    background-color: #C6D936;
    border-color: #C6D936;
    color: #343a40;
}

.btn-primary .active {
    background-color: #C6D936;
    border-color: #C6D936;
}

.btn-primary:hover {
    background-color: #435938;
    border-color: #435938;
}

/* index(home) page */

img.logo {
    height: 180px;
    width: 180px;
}

img.heart {
    height: 50px;
    width: 50px;
}

.main {
    margin-top: 10%;
    margin-left: 60px;
    margin-right: 60px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.welcome {
    text-align: center;
    border-bottom: 1px solid darkgreen;
    padding-top: 5%;
}

.home h5 {
    display: inline-block;
    margin: 7%;
}

.home h6 {
    display: inline-block;
    margin: 7%;
}

.profile-container div{
    display:inline-block;
}

.heart-container {
    float:right;
    display:contents !important;
}


/* leaderboard */
.main_container {
    margin-top: 25px;
    border: 2px solid black;
    border-radius: 10px;
}

.user_img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid black;
}

/* Daily Lesson page */
.instructions span {
    display: block;
}

.lesson-img {
    height: 150px;
    width: 150px;
}

.header-title {
    text-align: center;
    border-bottom: 1px solid darkgreen;
    padding-bottom: 5%;
}

.lesson-title {
    margin-top:5%;
}

#lesson_btn {
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer_img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header_logo {
    height: 80px;
    width: 80px;
    margin-top: 10%;
}

.D-n { display: none !important;  }
/* profile page intro    */

.intro-section{ padding-top: 200px; position: relative; background-size: cover;
	z-index: 1; background-image: url(../images/yosemitte.png);}

.intro-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0;
	right: 0; background: rgba(0,0,0, .2); }

.intro-section:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	height: 150px; z-index: -1; background: #fff; }

.intro{ padding: 0 20px; margin-top: 100px; text-align: center; background: #fff; }

.intro .profile-img{ height: 200px; width: 200px; border-radius: 100px; margin: 0 auto;
	overflow: hidden; position: relative; top: -100px; margin-bottom: -70px;  }

.intro .information > li{ display: block; margin: 5px 0; }

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

