body {
	font-family: 'Geneva', 'Verdana', sans-serif;
}

/* Colors */

.dark-green {
	color: #435938;
}

.medium-green {
	color: #658C5A;
}

.light-green {
	color: #C6D936;
}

.dark-brown {
	color: #BF9765;
}

.light-grey {
	color: #5a6268;
}


/* Background Colors */

.bg-dark-green {
	background-color: #435938;
}

.bg-medium-green {
	background-color: #658C5A;
}

.bg-light-green {
	background-color: #C6D936;
}

.bg-dark-brown {
	background-color: #BF9765;
}

.bg-light-grey {
	background-color: #5a6268;
}

.bg-light-coral {
	background-color: #F08080;
}

.bg-black {
	background-color: #000000;
}
/* Buttons */

.btn-primary {
	background-color: #658C5A;
	border-color: #658C5A;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {

	background-color: #C6D936;
	border-color: #C6D936;
	color: #343a40;
}

.btn-primary .active {
	background-color: #C6D936;
	border-color: #C6D936;
}

.btn-primary:hover {
	background-color: #435938;
	border-color: #435938;
}