<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recycle Ranger</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/footer_menu.css">
</head>

<body>

    <div class="footer_menu_wrapper d-flex flex-row justify-content-center">

        <div class="footer_img_wrapper_left_edge">
            <a href="/index.html">
                <img class="footer_img center" src="images/home_icon.png" alt="Recycle Ranger">
            </a>
        </div>

        <div id="footer_btn_take_picture" class="footer_img_wrapper">
            <img class="footer_img center" src="images/camera_icon.png" alt="Recycle Ranger">            
        </div>

        <div class="footer_img_wrapper_right_edge">
            <a href="/profile.html">
                <img class="footer_img center" src="images/user_icon.jpg" alt="Recycle Ranger">
            </a>
        </div>        

    </div>
    
    <form action="/wasteimages" method="post" enctype="multipart/form-data" id="waste_image_detection_form" style="display: none;">
        <input id="waste_image_input" name="wasteimage" type="file" accept="image/*" capture style="display: none;"/>
    </form>


    <!-- Waste analysis modal -->
    <div class="modal fade" id="recycling_steps_modal_container" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">            
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="recycling_steps_title">Analyzing waste type...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div id="image_input_display_wrapper" class="d-flex flex-row justify-content-center">                                
                        <img id="image_input_display" src="#" alt="input image"/>
                    </div>
                </div>

                <div class="modal-footer d-flex flex-column align-items-start">
                    
                    <div>Recycling steps:</div>

                    <div id="recycling_steps_spinner" class="spinner-border text-success align-self-center" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div>
                        <ul id="recycling_steps_list">
                            <li>Step 1,</li>                        
                            <li>Step 2,</li>
                            <li>Step 3!</li>
                        </ul>
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</body>

</html>

