<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recycle Ranger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="javascripts/index.js" type="text/jsx"></script>
    
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

    <script> 
    $(function(){
      $("#footerMenu").load("footer_menu.html"); 
    });
    </script> 
</head>

<body>

<div class="main">
    <div id="welcome_container center">
        <h5>Good Afternoon, Sasha. </h5>
        <h6><center>Sasha</center></h6>
        <img class="user_img center" src="images/sasha.png" alt="Recycle Ranger" height="180" width="180">
        <h6>As of today, you have collected 1,172 <img style="float: right;" src="images/red-heart.png" alt="Recycle Ranger" height="25" width="25" class="center"></h6>
    </div>
    
    <div id="leaderboard_container" class="main_container">
        <h6>Good Afternoon, Sasha. </h6> <img src="images/red-heart.png" alt="Recycle Ranger" height="25" width="25" class="center">
        <h6>Good Afternoon, Sasha. </h6> <img src="images/red-heart.png" alt="Recycle Ranger" height="25" width="25" class="center">
        <h6>Good Afternoon, Sasha. </h6> <img src="images/red-heart.png" alt="Recycle Ranger" height="25" width="25" class="center">
        <h6>Good Afternoon, Sasha. </h6> <img src="images/red-heart.png" alt="Recycle Ranger" height="25" width="25" class="center">
        <h6>Good Afternoon, Sasha. </h6> <img src="images/red-heart.png" alt="Recycle Ranger" height="25" width="25" class="center">
    </div>

</div>
</body>
<footer>
    <div id="footerMenu"></div>
</footer>
</html>

