<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recycle Ranger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="javascripts/index.js"></script>
    <!-- TODO: This script could've been imported in the footer_menu.html, but somehow it won't work... Until we figure out how to fix that, please import the footer_menu on the main page. -->
    <script src="javascripts/footer_menu.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script>
        $(function(){
            $("#footerMenu").load("footer_menu.html");
        });
        $(function(){
            $("#headerLogo").load("header.html");
        });
    </script>
</head>
<header>
    <div id="headerLogo"></div>
</header>
<body>
    <div class="main">
        <h4 class="header-title">Today's Lesson</h4>
        <div class="main_container container center">
            <h6>Clamshell Disposal</h6>
            <img src="images/clamshell.jpeg" class="center lesson-img" alt="Recycle Ranger">
            <div class="instructions">
                <span>1. Remove Adhesive Stickers</span>
                <span>2. Recycle in the bin</span>

            </div>
            <button class="btn btn-primary center">Got it</button>

        </div>
    </div>
</body>


<footer>
    <div id="footerMenu"></div>
</footer>

</html>