<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recycle Ranger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="javascripts/index.js"></script>
    <!-- TODO: This script could've been imported in the footer_menu.html, but somehow it won't work... Until we figure out how to fix that, please import the footer_menu on the main page. -->
    <script src="javascripts/footer_menu.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script>
        $(function () {
            $("#footerMenu").load("footer_menu.html");
        });
    </script>
</head>

<body>

    <div class="main">
        <section class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-lg-2"></div>
                    <div class="col-md-10 col-lg-8">
                        <div class="intro">
                            <div class="profile-img"><img src="images/sasha_profile.png" alt=""></div>
                            <h2><b>Sasha</b></h2>
                            <h4 class="font-yellow dark-brown">Recycle ranger since 2018</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>


<footer>
    <div id="footerMenu"></div>
</footer>

</html>