<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recycle Ranger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script src="javascripts/index.js"></script>
    <!-- TODO: This script could've been imported in the footer_menu.html, but somehow it won't work... Until we figure out how to fix that, please import the footer_menu on the main page. -->
    <script src="javascripts/footer_menu.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script>
        $(function () {
            $("#footerMenu").load("footer_menu.html");
        });
    </script>
</head>

<body>
    <div>
        <section class="intro-section">
            <div class="container">
                <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8">
                    <div class="intro" style="margin-bottom:25px;">
                        <div class="profile-img"><img src="images/sasha_profile.png" alt=""></div>
                        <h2><b>Sasha</b></h2>
                        <h4 class="font-yellow dark-brown">Recycle ranger since 2018</h4>
                        <hr style="margin-top:20px;margin-bottom: 10px;">
                        <div>
                            <h6> As of today, you have collected <a id="currentHeartNum"></a> <img
                                    src="images/red-heart.png" height="45" width="45"> </img></h6>
                            <img src="images/badge_progress.png" style="margin-bottom:15px;width:70%;height:25%;">
                            </img>
                            <h6> <a id="remainHearts"> </a> more to unlock the next level! </h6>
                            <button type="button" class="btn btn-primary btn-lg"
                                onclick="window.location.href='/leaderboard.html';" style="margin-top:10px;"> Cheer your
                                peers now!</button>
                            <!-- just for demo propose how to update score. -->
                            <!-- <button type="button" class="btn btn-primary btn-lg"
                                onclick="updateScore(5)" style="margin-top:10px;"> updateScore!</button>  -->
                        </div>
                        <hr>
                        <div>
                            <h4 class="font-yellow dark-brown">Reminder for daily quiz</h4>
                            <h6> <input class="form-check-input" type="checkbox" value=""> Send me daily push
                                notification </h6>
                            <div class="container center">
                                <input id="timepicker" width="250" style="margin-left:20%;" />
                            </div>
                        </div>
                    </div>
                </div>

        </section>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $('#timepicker').timepicker({
            uiLibrary: 'bootstrap4'
        });

        var socket = io()

        socket.on("currentScore", function (currentScore) {
            document.getElementById("currentHeartNum").innerHTML = currentScore;
            document.getElementById("remainHearts").innerHTML = 2000 - currentScore;
        });

        function updateScore(increment) {
            socket.emit("updateScore", increment);
        }
    </script>
</body>


<footer>
    <div id="footerMenu"></div>
</footer>

</html>