<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recycle Ranger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/index.js"></script>
    <script src="javascripts/common.js"></script>
    <script src="javascripts/footer_menu.js"></script>
    
    <link rel="stylesheet" href="stylesheets/footer_menu.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/quiz.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="javascripts/quiz.js"></script>

</head>
<body>

<div>
    <section class="intro-section">
        <div class="container">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8">
                <div class="intro" style="margin-bottom:25px;">
                    <div class="profile-img"><img src="images/Recycle%20Ranger.png" alt="" width="100%"></div>
                    <div id="question-main-container">
                        <div class="page-title text-center font-yellow dark-brown" style="margin-top:-30px;">
                            Today's Quiz
                        </div>
                        <div class="container content-container" >
                            <p id="question_text">
                            </p>
                            <div class="button-group" id="btngrp_answers">
                                <button class="btn btn-secondary btn-answers" id="btn_yes">Yes</button>
                                <button class="btn btn-secondary btn-answers" id="btn_no">No</button>
                            </div>
                            <div class="button-group D-n" id="btngrp_next_page">
                                <button class="btn btn-secondary btn-answers" id="btn_explanation">Show explanation</button>
                                <button class="btn btn-primary btn-answers" id="btn_next_question_on_mainpage">Next Question</button>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="D-n" id="result-page-main-container">
                        <div class="text-center font-yellow dark-brown Fz-30 Mb-5" style="margin-top:-15px;">
                            Congratulations!
                        </div>
                        <div class="container content-container">
                            You just finished today's quiz
                            <hr>
            
                            <div class="row">
                                <div class="col-6">
                                    <div class=" text-center Fz-30 Fz-B" id="text_correct_question_number">6</div>
                                </div>
                                <div class="col-6">
                                    <div class=" text-center Fz-30 Fz-B" id="text_incorrect_question_number">2</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="large-text text-center medium-green">Correct</div>
                                </div>
                                <div class="col-6">
                                    <div class="large-text text-center light-coral">Incorrect</div>
                                </div>
                            </div>
                            <hr>
                            Here's your rewards:
                            <div class="row">
                                <div class="col-6">
                                    <img src="images/red-heart.png" alt="Red-Heart" height="100" width="100" style="margin-top:-15px;" class="center">
                                </div>
                                <div class="col-6">
                                    <div class="large-text text-center Fz-30 Fz-B" style="margin-top:15px;" id="text_heart_count">+20</div>
                                </div>
                            </div>
                            <div class="button-group">
                                <button class="btn btn-primary" id="btn_return_home">Return Home</button>
                            </div>
                        </div>

                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>

</div>
<script src="/socket.io/socket.io.js"></script>
</body>

<!--Modal-->
<button type="button" class="btn btn-info btn-lg D-n" data-toggle="modal" data-target="#modal_questionAnswer"
        id="btn_questionAnswer">Open answer Modal
</button>
<div class="modal fade " id="modal_questionAnswer" role="dialog">
    <div class="modal-dialog">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align: center; margin: auto">
                <h2 id="modal-title">Incident Report Ready</h2>
                <p id="modal-text-your-choice">ff</p>
                <b>Did you know: </b>
                <p id="modal-text">ff</p>
            </div>
            <div class="modal-footer" style="text-align: center; margin: auto">
                <button type="button" class="btn btn-primary" id="btn_next_question">Next Question!</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer_menu_wrapper d-flex flex-row justify-content-center">
        
        <div class="footer_img_wrapper_left_edge">
            <a href="/index.html">
                <img class="footer_img center" src="images/home_icon.png" alt="Recycle Ranger">
            </a>
        </div>
        
        <div id="footer_btn_take_picture" class="footer_img_wrapper">
            <img class="footer_img center" src="images/camera_icon.png" alt="Recycle Ranger">
        </div>
        
        <div class="footer_img_wrapper_right_edge">
            <a href="/profile.html">
                <img class="footer_img center" src="images/user_icon.jpg" alt="Recycle Ranger">
            </a>
        </div>
    
    </div>
    
    <form action="/wasteimages" method="post" enctype="multipart/form-data" id="waste_image_detection_form" style="display: none;">
        <input id="waste_image_input" name="wasteimage" type="file" accept="image/*" capture style="display: none;"/>
    </form>
    
    
    <!-- Waste analysis modal -->
    <div class="modal fade" id="recycling_steps_modal_container" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="recycling_steps_title">Analyzing waste type... </h5>
                    <div id="modal_title_spinner" class="spinner-border text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div id="image_input_display_wrapper" class="d-flex flex-row justify-content-center">
                        <img id="image_input_display" src="#" alt="input image"/>
                    </div>
                </div>
                
                <div class="modal-footer d-flex flex-column align-items-start">
                    
                    <div>Recycling steps:</div>
                    
                    <div id="recycling_steps_spinner" class="spinner-border text-success align-self-center" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    
                    <div>
                        <ul id="recycling_steps_list">
                            <li>Step 1,</li>
                            <li>Step 2,</li>
                            <li>Step 3!</li>
                        </ul>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</footer>
</html>