<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recycle Ranger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script src="javascripts/index.js"></script>
    <script src="javascripts/footer_menu.js"></script>
    
    <link rel="stylesheet" href="stylesheets/footer_menu.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/quiz.css">
    <script src="javascripts/quiz.js"></script>
</head>
<header>
    <img src="images/Recycle Ranger.png" class="center header_logo" alt="Recycle Ranger">
</header>
<body>
<div class="container-fluid quiz-main-container" id="question-main-container">
<div class="page-title text-center">
Today's Quiz
</div>
<div class="container content-container" id="question_text">
</div>
    <div class="button-group" id="btngrp_answers">
        <button class="btn btn-secondary" id="btn_yes">Yes</button>
        <button class="btn btn-secondary" id="btn_no">No</button>
    </div>
    <div class="button-group D-n" id="btngrp_next_page">
        <button class="btn btn-secondary" id="btn_explanation">Show explanation</button>
        <button class="btn btn-secondary" id="btn_next_question_on_mainpage">Next Question</button>
    </div>
</div>
<div class="container-fluid quiz-main-container D-n" id="result-page-main-container">
    <div class="page-title text-center">
        Congratulations!
    </div>
    <div class="container content-container">
        You just finished today's quiz
        <hr>
        
        <div class="row">
            <div class="col-6">
                <div class=" text-center Fz-60 Fz-B" id="text_correct_question_number">6</div>
            </div>
            <div class="col-6">
                <div class=" text-center Fz-60 Fz-B" id="text_incorrect_question_number">2</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="large-text text-center light-green">Correct</div>
            </div>
            <div class="col-6">
                <div class="large-text text-center light-coral">Incorrect</div>
            </div>
        </div>
        <hr>
        Here's your rewards:
        <div class="row">
            <div class="col-6">
                <img src="images/eco-heart.png" alt="Eco-Heart" height="100" width="100" class="center">
            </div>
            <div class="col-6">
                <div class="large-text text-center Fz-50 Fz-B" id="text_heart_count">+20</div>
            </div>
        </div>
    </div>
    <div class="button-group">
        <button class="btn btn-secondary" id="btn_return_home">Return Home</button>
    </div>
</div>
</body>

<!--Modal-->
<button type="button" class="btn btn-info btn-lg D-n" data-toggle="modal" data-target="#modal_questionAnswer" id="btn_questionAnswer">Open answer Modal</button>
<div class="modal fade " id="modal_questionAnswer" role="dialog">
    <div class="modal-dialog">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align: center; margin: auto">
                <h2 id="modal-title">Incident Report Ready</h2>
                <p id="modal-text">ff</p>
            </div>
            <div class="modal-footer" style="text-align: center; margin: auto">
                <button type="button" class="btn btn-primary" id="btn_next_question">Next Question!</button>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer>
    <div class="footer_menu_wrapper d-flex flex-row justify-content-center">
        
        <div class="footer_img_wrapper_left_edge">
            <a href="/index.html">
                <img class="footer_img center" src="images/home_icon.png" alt="Recycle Ranger">
            </a>
        </div>
        
        <div id="footer_btn_take_picture" class="footer_img_wrapper">
            <img class="footer_img center" src="images/camera_icon.png" alt="Recycle Ranger">
            <input id="footer_take_picture_input" type="file" accept="image/*" capture style="display: none;" />
        </div>
        
        <div class="footer_img_wrapper_right_edge">
            <a href="/leaderboard.html">
                <img class="footer_img center" src="images/user_icon.jpg" alt="Recycle Ranger">
            </a>
        </div>
    
    </div>
</footer>
</html>